.bar {
    width: 300px;
    float: left;
}

.title {
    width: 800px;
    margin-top: 4rem;
    text-align: center;
    float: left;
}

.blogs {
    display: block;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: -2rem;
}