.title {
    margin: auto;
    padding-left: 30rem;
    padding-top: 14rem;
    margin-bottom: 3rem;
}

.project {
    margin-top: 2rem;
    margin-left: 33rem;
    display: flex;
    float: left;
}

.blog {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    float: left;
}