.title {
    margin-bottom: 3rem;
}

.project {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    float: left;
}

.blog {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    float: left;
}