.correct {
    background-color: green;
    margin-top: auto;
    width: 50%;
    padding: 10px;
    color: white;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding-top: 20%;
    font-size: 50px;
}

.incorrect {
    background-color: red;
    margin: auto;
    width: 50%;
    color: white;
    padding: 10px;
    width:100%;
    height: 100vh;
    min-height: 100vh;
    padding-top: 20%;
    font-size: 50px;

}
