body {
    background-color: lightblue;
}

.intro h1 {
    text-align: center;
    margin-top: 5%;
}

.actions input {
    padding: 1.25rem;
    width: 25%;
    height: 10%;
    margin-right: 1rem;
}


.actions button:hover {
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.instruct h1 {
    text-align: center;
}

.startExp {
    margin-top: 2rem;
    text-align: center;
}

.writing {
    margin: 2rem;
}